# Part 2

Using ùê∂‚Ñéùëñ2 criteria check whether there is a statistical difference between men's and women's choice of auto. (Features Sex –∏ PreferCar)

In [26]:
import pandas as pd
import numpy as np

from scipy.stats import chi2_contingency
from scipy.stats import chi2
import researchpy as rp

In [2]:
df = pd.read_csv('data/raw/HW1_task2_car_prefs_data.tsv' ,sep='\t')

–°–º–æ—Ç—Ä–∏–º –¥–∞—Ç–∞—Å–µ—Ç

In [3]:
df.head()

,ID,Age,Sex,LicYr,LicMth,ActCar,Kids5,Kids6,PreferCar,Car15K,...,Reliable,Perform,Fuel,Safety,AC/PS,Park,Room,Doors,Prestige,Colour
0,110,18,2,0,2,3,2,2,2,2,...,4,3,3,3,3,3,3,3,3,2
1,111,25,1,8,0,1,2,2,1,1,...,4,4,4,4,3,4,4,2,3,3
2,112,63,2,46,0,3,2,2,3,2,...,3,3,3,3,3,3,3,3,3,3
3,113,51,1,35,0,3,2,2,2,2,...,3,3,3,4,3,3,3,3,1,3
4,114,19,1,2,0,2,2,2,2,1,...,3,4,3,3,2,3,3,2,3,3

In [4]:
df.describe()

,ID,Age,Sex,LicYr,LicMth,ActCar,Kids5,Kids6,PreferCar,Car15K,...,Reliable,Perform,Fuel,Safety,AC/PS,Park,Room,Doors,Prestige,Colour
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.00000,300.000000,...,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,209.986667,34.123333,1.500000,15.240000,0.620000,2.000000,1.903333,1.736667,2.17000,1.536667,...,3.830000,3.336667,3.293333,3.576667,2.876667,2.716667,2.990000,2.546667,2.100000,2.186667
std,108.131562,15.344695,0.500835,14.424376,1.995547,0.817861,0.295997,0.441178,0.86618,0.499487,...,0.393637,0.681815,0.664903,0.631494,1.002400,0.905052,0.738275,1.008901,0.897786,0.928095
min,1.000000,18.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,117.750000,21.000000,1.000000,3.000000,0.000000,1.000000,2.000000,1.000000,2.00000,1.000000,...,4.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,1.000000,1.000000
50%,206.500000,27.000000,1.500000,9.000000,0.000000,2.000000,2.000000,2.000000,2.00000,2.000000,...,4.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000
75%,307.250000,46.000000,2.000000,26.000000,0.000000,3.000000,2.000000,2.000000,3.00000,2.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,393.000000,75.000000,2.000000,57.000000,11.000000,3.000000,2.000000,2.000000,4.00000,2.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [5]:
df.isnull().values.any()

False

In [12]:
df_chi = df[['Sex','PreferCar']]

–ö–∞–∫ –≤–∏–¥–∏–º, –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ—Ç, –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É

In this test we will check is there any relationship between Sex and PreferCar

## Define Hypothesis

Null Hypothesis (H0): Two variables are independent.

Alternate Hypothesis (H1): Two variables are not independent.

## chi^2 test

In [29]:
crosstab, test_results, expected  = rp.crosstab(df_chi["Sex"], df_chi["PreferCar"],
                                                test= "chi-square",
                                                expected_freqs= True,
                                                prop= "cell")

crosstab

          PreferCar
PreferCar         1      2      3     4    All
Sex
1             14.33  25.00   8.67  2.00   50.0
2              8.33  20.33  15.67  5.67   50.0
All           22.67  45.33  24.33  7.67  100.0

In [30]:
test_results

                Chi-square test  results
0  Pearson Chi-square ( 3.0) =   17.5078
1                    p-value =    0.0006
2                 Cramer's V =    0.2416

–ö–∞–∫ –º—ã –≤–∏–¥–∏–º, —É –Ω–∞—Å –µ—Å—Ç—å –æ—Å–Ω–æ–≤–∞–Ω–∏—è –æ—Ç–≤–µ—Ä–≥–Ω—É—Ç—å –Ω—É–ª–µ–≤—É—é –≥–∏–ø–æ—Ç–µ–∑—É, —á—Ç–æ –¥–≤–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –Ω–µ–∑–∞–≤–∏—Å–∏–º—ã

–ò –ø–æ —Ç–∞–±–ª–∏—Ü–µ –ö—Ä–∞–º–µ—Ä–∞ –ø–æ–ª—É—á–∞–µ–º —Å–∏–ª—å–Ω—É—é, –∏ –±–ª–∏–∑–∫—É –∫ –æ—á–µ–Ω—å —Å–∏–ª—å–Ω–æ–π, –∫–æ—Ä—Ä–µ–ª—è—Ü–∏—é